*,
*::after,
*::before{
    box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto; 
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.navigation {
  width: 560px;
}

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list a {
  text-transform: uppercase;
  padding: 10px;
}

.contacts a {
  margin-bottom: 10px;
}

.promo {
  margin-bottom: 150px;
}

.promo-container,
.advantages {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
}

.promo-descr,
.advantages-descr {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.advantages {
  height: 420px;
}

.advantages-descr {
  width: 420px
}

.promo-title {
  font-size: 55px;
  font-family: serif;
  margin-bottom: 15px;
}

.promo-text {
  font-size: 18px;
  line-height: 25px;
}

.btn {
  text-align: center;
  width: 160px;
  padding: 16px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border: none;
  background-color:#000094;
  border-radius: 40px;
  box-shadow: 0 3px 10px blue;
  cursor: pointer;
}

.promo-features {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.promo-features li {
  width: 210px;
  text-align: center;
}

.promo-features span {
  display: block;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 15px;
}

.advantages-title,
.features-title,
.calculator-title,
.delivery-title {
  font-size: 45px;
  font-family: serif;
}

.advantages-text,
.features-text-small,
.img-text,
.img-descr {
  line-height: 24px;
  font-size: 14px;
}

.advantages-text-small {
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  width: 315px;
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 275px;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr;
  gap: 0 35px;
  width: 350px;
}

.icons-item {
  width: 145px;
}

.icons-text {
  font-size: 14px;
  font-weight: bold;
}

.features-descr {
  position: relative;
  height: 100%;
  width: 420px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.features-descr::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -35px;
  height: 135px;
  width: 3px;
  background-color: #000094;
}

.features-descr::after {
  content: "";
  position: absolute;
  top: -90px;
  right: -90px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #e0e0e071;
  z-index: -1;
}

.features-text {
  font-size: 25px;
  font-weight: bold;
  font-family: serif;
  margin-top: 15px;
  margin-bottom: 10px;
}

.calculator,
.features {
  margin-bottom: 150px;
}

.calculator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculator-left-side,
.calculator-right-side {
  width: 430px;
}

.calculator-title {
  position: relative;
}

.calculator-title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 135px;
  height: 3px;
  background-color: #000094;
}

.calculator-form {
  display: flex;
  flex-direction: column;
}

.right-side-text {
  font-size: 18px;
  font-weight: bold;
  font-family: serif;
}

.right-side-text span {
  color: #1f1fff;
}

.calculator-right-side {
  width: 350px
}

.calculator-form input {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e2e2e244;
  border: none;
  font-size: 14px;
}

.form-btn {
  width: 240px;
  box-shadow: none;
  align-self: center;
}

.form-btn:hover {
  opacity: 0.5;
}

.img-text {
  width: 300px;
  margin-bottom: 35px;
}

.form-privacy {
  font-size: 10px;
  text-align: center;
}

.form-privacy span {
  cursor: pointer;
  color: #1f1fff;
}

.delivery {
  margin-bottom: 150px;
}

.delivery-title {
  text-align: center;
  margin-bottom: 70px;
}

.delivery-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  flex-shrink: 0;
}

.delivery-img-text {
  text-align: center;
  font-weight: bold;
  margin: 5px 0;
}

.delivery-img-subtext {
  text-align: center;
  font-size: 10px;
  margin: 5px 0;
}

.delivery-img-descr {
  text-align: center;
}